html {
  height: 100%;
  width: 100%;
  font-family: caveat;
}
@font-face {
  font-family:"chenyuluoyan_thin";
  src: 
        url('fonts/ChenYuluoyan-Thin.woff') format("woff"),
        url('fonts/ChenYuluoyan-Thin.ttf') format("opentype"),
        url('fonts/ChenYuluoyan-Thin.eot) format("embedded-opentype");
)}
.header {

  background-color: rgb(251, 232, 137, 0.3);
  height: 6vw;
  width: 100vw;
  margin: 20px auto;
  position: relative;
  bottom: 3.5vw;
  text-shadow: 5px -3.5px #fedd67;
}

.tit {
  font-size: 5vw;
  text-align: center;
  color: #155ea2;
  vertical-align:middle;
  line-height:6.5vw;
}

form {
  font-family: "chenyuluoyan_thin","Noto Serif TC";
  font-weight: 500;
  font-size: 40px;
  position: relative;
  text-align: center;
}
.submitt{
  color: #155ea2;
  font-family: "chenyuluoyan_thin","Noto Serif TC";
  font-weight: 600;
  font-size: 2vw;
  width: 7.5vw;
  height: 4vh;
  position: relative;
  left: 65%;
  margin: 1.5vw;
  white-space: nowrap;
}

.back {
  color: #155ea2;
  font-family: "chenyuluoyan_thin","Noto Serif TC";
  font-weight: 600;
  font-size: 2vw;
  width: 7vw;
  height: 4vh;
  position: absolute;
  top: 50vh;
  left: 7.5%;
  margin: 1.5vw;
  bottom: 30px;
  white-space: nowrap;
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 15%;
}

.meal{
  margin: 1px auto;
  width: 650px;
  border: 1px solid hsl(22, 18%, 64%);
  background-color: #f9ecbe;
  color: #d06925;
  font-family: "chenyuluoyan_thin","Noto Serif TC";
  font-weight: 500;
  font-size: 40px;
  bottom: 20vh;
  text-align: center;
}

footer{
  text-align: center;
  padding: 10px 0;
  background: rgb(251, 232, 137, 0.3);
  color: #e8a921;
  width: 100vw;
  margin-top: 10vh;
   position: absolute;
  bottom: 0;
  font-size: 20px;
}
